<div class="row">
    <div class="col-4">
      <label>{{person.name}}</label>
    </div>

    <ng-container  [ngSwitch]="person.type">
      <ng-container *ngSwitchCase="'contact'">
        <img class=" btn person rounded-circle" [src]="'data:image/png;base64,' + person?.userImage.image">
        {{person?.userImage}}
      </ng-container>
      <ng-container *ngSwitchCase="'payee'">
        <div class="col-2" (click)="openModal(template)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
        <div class="col-4">
          <label>{{ person.payToAccountBankRoutingNumber}}</label>
        </div>
      </ng-container>
    </ng-container>


</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
