<app-loading *ngIf="payees?.inProgress() && contacts?.inProgress()"></app-loading>
<input [ngModel]="selected"
                   [typeahead]="persons"
                   [typeaheadOptionField]="'name'"
                   [typeaheadGroupField]="'_type'"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="selectedAccount($event)"
                   [typeaheadItemTemplate]="rtComponent"
                   [headerTemplateMap]="{'contact':contactHeader}"
                   [containerClass]="'col-8'"
                   class="form-control">



<ng-template #rtComponent let-p="item" let-p="index">
  <div class="row align-items-center">
    <img class="person rounded-circle" [src]="p._type == 'contact' ? 'data:image/png;base64,' + p.userImage?.image : null" >
    <div class="col-4">
      {{p.name}}
    </div>
    <div class="col-4">

    </div>
    <div class="col-2">
      <a (click)="openModal($event)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #contactHeader>
  <div class="row justify-content-between">
    <div class="col-4">
      Other Accounts
    </div>
    <div class="col-4">
      Delete
    </div>
  </div>
</ng-template>
