<footer class="pt-4 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-3">
        <div class="row">
          <div class="col-6">
            <ul>
              <li><a href="#">Private Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Brand Guidelines</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 order-md-2"></div>

      <div class="col-md-4 order-md-1">
          <div class="row">
              <div class="col-6 col-md-12 my-md-4">
                <a class="navbar-brand" href="#">
                  <img src="../../../assets/img/Logo_waivcard_RGB_reversed.svg" alt="Waiv">
                </a>
              </div>
              <div class="col-6">
                <a href="#"><i class=" mr-md-2 fa fa-twitter fa-2x"></i>@WAIVCARD</a>
              </div>
              <div class="col-12">
                <p>Fed Bank’s Harker says increased oversight in best interest of #FinTech sector, referencing potential future crises. http://yhoo.it/2kfi7AO </p>
              </div>
          </div>
      </div>

    </div>
  </div>
</footer>
