<ng-template #buttons>
  <button *ngIf="!isOpen" (click)="onViewClick()" class="btn btn-sm">View</button>
  <ng-container *ngIf="isOpen">
    <button (click)="onViewClick()" class="btn btn-sm">Close</button>
    <button (click)="onSaveClick()" class="btn btn-sm btn-primary"
            [disabled]="!componentInstance.saveEnabled()">Save</button>
  </ng-container>
</ng-template>

<div class="container">
  <div class="row p-2 border">
    <div class="col text-left">{{title}}</div>
    <div class="col">
      <ng-container [ngTemplateOutlet]="buttons"></ng-container>
    </div>
  </div>
  <div class="text-left">
    <ng-container #content>

    </ng-container>
    <div *ngIf="isOpen">
      <ng-container [ngTemplateOutlet]="buttons"></ng-container>
    </div>
  </div>
</div>
