<app-loading *ngIf="!loaded"></app-loading>
<div ngbDropdown *ngIf="loaded" class="d-inline-block">
  <button class="btn text-nowrap waivAccountSelector"  id="accountSelDropdown" ngbDropdownToggle>
    <h1 *ngIf="textSize==1">{{selectedAccount.accountName}}</h1>
    <h1 *ngIf="textSize==1 && showBalance">{{selectedAccount.balance | waivCurrency}}</h1>
    <h2 *ngIf="textSize==2">{{selectedAccount.accountName}}</h2>
    <h2 *ngIf="textSize==2 && showBalance">{{selectedAccount.balance | waivCurrency}}</h2>
    <h3 *ngIf="textSize==3">{{selectedAccount.accountName}}</h3>
    <h3 *ngIf="textSize==3 && showBalance">{{selectedAccount.balance | waivCurrency}}</h3>
    <h4 *ngIf="textSize==4">{{selectedAccount.accountName}}</h4>
    <h4 *ngIf="textSize==4 && showBalance">{{selectedAccount.balance | waivCurrency}}</h4>
    <h5 *ngIf="textSize==5">{{selectedAccount.accountName}}</h5>
    <h5 *ngIf="textSize==5 && showBalance">{{selectedAccount.balance | waivCurrency}}</h5>
    <h6 *ngIf="textSize==6">{{selectedAccount.accountName}}</h6>
    <h6 *ngIf="textSize==6 && showBalance">{{selectedAccount.balance | waivCurrency }}</h6>
    </button>
  <div ngbDropdownMenu aria-labelledby="accountSelDropdown" class="">
      <div *ngIf="showBalance" >
        <button class="dropdown-item waivAccountSelectorItem" *ngFor="let account of accounts" [value]="account.accountNumber" (click)="onSelect(account.accountNumber)">
              <span>{{account.accountName}} <b>{{account.accountNumber}}</b> {{account.balance | waivCurrency}}</span>
          </button>
      </div>
      <div *ngIf="!showBalance">
        <button class="dropdown-item waivAccountSelectorItem" *ngFor="let account of accounts" [value]="account.accountNumber" (click)="onSelect(account.accountNumber)">
            {{account.accountName}}
        </button>
      </div>
  </div>
</div>


