//waiv colours
$ocean: #0C2340;
$ocean-dark:#041C2C;
$sky: #5B7F95;
$sun: #E04E39;
$sun-dark: #A72B2A;
$coral: #ff8d6d;
$moss: #009775;
$moss-dark: #005844;
$grass: #9AB9AD;
$white:#fff;
$stone-white:#f7f8f8; // rgb 247, 248, 249
$stone-0:#e6e4e4; // rgb 230, 229, 228
$stone-1:#D9D9D6; //cool gray 1
$stone-3:#C8C9C7; //cool gray 3
$stone-5:#B1B3B3; //cool gray 5
$stone-6:#A7A8AA; //cool gray 6
$stone-7:#97999B; //cool gray 7
$stone-8:#888B8D; //cool gray 8
$stone-10:#63666A; //cool gray 10