<div class="container content">
  <div class="row align-items-center mt-3 mt-md-6">
    <div class="d-none d-md-flex col-8">
        <img src="../../../assets/img/shutterstock_5248356821.jpg" class="img-fluid"/>
    </div>
    <div class="col-12 col-md-4">
      <h2 class="text-center text-dark my-3 my-md-6">Login To WAIV Pay</h2>

      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input id="username" name="username" type="email" class="form-control py-3 px-4" aria-describedby="emailHelp" placeholder="Email" ngModel/>
          <small><a class="text-dark form-text" href="#">Forgot Email?</a></small>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" class="form-control py-3 px-4" aria-describedby="password" placeholder="Password" ngModel/>
          <small><a class="text-dark form-text" href="#">Forgot Password?</a></small>
        </div>
        <button type="submit" class="btn btn-primary col-10 offset-1" [disabled]="authenticate?.inProgress()">
          Login
          <app-loading *ngIf="authenticate?.inProgress()"></app-loading>
        </button>
      </form>
    </div>
  </div>

  <div *ngIf="authenticate?.errorResponse as error">
    <br>
    <div *ngIf="error.status == 401" class="alert alert-danger">
      The username or password you entered is incorrect.
    </div>
    <div *ngIf="error.status != 401" class="alert alert-danger">
      {{error | json}}
    </div>
  </div>

  <div class="row my-3 my-md-6">
    <span id="signUpMessage" class="col-12 text-center text-secondary">Not yet a member? It's quick and easy. <a href="#" class="text-dark" >Sign up.</a></span>
  </div>

  <div *ngIf="authenticate?.errorResponse">{{authenticate.errorResponse | json}}</div>
</div>
<app-footer></app-footer>
