<div class="text-center">
  __example for get requests.<br>
  <app-loading *ngIf="customer?.inProgress()"></app-loading>
  <div *ngIf="customer?.result as customer">
    <div>
      First Name: {{customer.firstName}}
    </div>
    <div>
      Last Name: {{customer.lastName}}
    </div>
    <div>
      Email: {{customer.email}}
    </div>
    <div>
      Mobile Phone: {{customer.phone1.formattedPhoneNumber}}
    </div>
    <br/>
  </div>
  <div *ngIf="customer?.errorResponse">{{customer.errorResponse.status}}, {{customer.errorResponse.error}}</div>
</div>
