<div *ngIf="isHeaderRow">
  <div>
    <span>{{ headerLabels }}</span>
  </div>
  <div>
    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + person?.flag" width="16">
    {{ person?.name }}
  </div>
  <div *ngIf="isDeletable">
    <a href="#" (click)="deletePerson(person); $event.stopPropagation()">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div *ngIf="!isHeaderRow">
  <div>
    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + person?.flag" width="16">
    {{ person?.name }}
  </div>
  <div *ngIf="isDeletable">
      <a href="#" (click)="deletePerson(person); $event.stopPropagation()">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
  </div>
</div>
