.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
  
  h2 { display: inline;}
  h3 { display: inline;}
  h4 { display: inline;}
  h5 { display: inline;}
  h6 { display: inline;}