<div class="text-center">
  <app-settings-accordion title="Profile" [componentType]="componentTypes.ProfileComponent">
  </app-settings-accordion>

  <app-settings-accordion title="Notifications" [componentType]="componentTypes.NotificationsComponent">
  </app-settings-accordion>

  <app-settings-accordion title="Account Security & Limits" [componentType]="componentTypes.AccountSecurityComponent">
  </app-settings-accordion>

  <app-settings-accordion title="Card Security & Limits" [componentType]="componentTypes.CardSecurityComponent">
  </app-settings-accordion>
</div>
